Howdy {{ first_name }}!<br>
<br>
Curry orders are open for today, <a href="{{ order-url }}">order yours now</a>!<br>
<br>
Chur,<br>
<b>Curtis The Curry Robot</b><br>
<br>
NB: if you want me to stop emailing you, tell Florent (you'll soon be able to do it by <a href="{{ account-url }}">editing your account</a>).
