{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="span12">
		<form method="POST" action="/admin/create-user">
			{% csrf-field %}
			{% if errors %}
			<div class="alert alert-danger">{{errors|join}}</div>
			{% endif %}
			<p>
			Email:
			<input class="form-control" type="text" name="email" value="{{email}}" />
			</p>
			<p>
			First name:
			<input class="form-control" type="text" name="first_name" />
			</p>
			<p>
			Last name:
			<input class="form-control" type="text" name="last_name" />
			</p>
			<p>
			Admin:
			<input class="form-control" type="checkbox" name="admin" />
			</p>
			<p>
			Password:
			<input class="form-control" type="password" name="password" />
			</p>
			<input type="submit" class="btn btn-primary" value="Create user" />
		</form>
		<hr>
		<form method="POST" action="/admin/add-payment">
			{% csrf-field %}
			{% if success.payment %}
			<div class="alert alert-success">{{success.payment}}</div>
			{% endif %}
			<p>
			User:
			<select class="form-control" type="text" name="user" value="{{user}}" >
				{% for u in users %}
				<option value="{{ u.email }}">{{u.first_name}} {{u.last_name}}</option>
				{% endfor %}
			</select>
			</p>
			<p>
			Amount:
			<input class="form-control" type="text" name="amount" />
			</p>
			<input type="submit" class="btn btn-primary" value="Make payment" />
		</form>
	</div>
</div>
{% endblock %}
