{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="span12">
		<form method="POST" action="/changepass">
			{% csrf-field %}
			{% if errors %}
			<div class="alert alert-danger">{{errors|join}}</div>
			{% endif %}
			{% if admin? %}
			<p>
			Email:
			<input class="form-control" type="text" name="email" value="{{email}}" />
			</p>
			{% endif %}
			<p>
			New password:
			<input class="form-control" type="password" name="password" />
			</p>
			<input type="submit" class="btn btn-primary" value="Change password" />
		</form>
	</div>
</div>
{% endblock %}
