{% extends "base.html" %}
{% block content %}
{% if time-to-order? %}
<div class="jumbotron">
	<h1>It's Thursday!</h1>
	<p>Go order!</p>
	<p><a class="btn btn-primary btn-lg" href="order">Order &raquo;</a></p>
</div>
{% endif %}

<div class="row">
	<div class="span9">
		<h2>Today's orders:</h2>
		<ul>
			{% for order in orders %}
			<li>
			<form class="form-inline" method="POST" action="/delete-order/{{order.id}}">{% csrf-field %}
				{{order.first_name}} — {{order.curry}} {{order.hotness}}
				{% if order.garlic %} <strong>(+GN)</strong>{% endif %}
				{% if order.can-remove %}<input type="submit" class="btn btn-link" value="Remove" />{% endif %}
			</form>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
